# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

ai_client_gateway/certs/
ai_client_gateway/node_modules/

api_server/authorization_proxy/target/
api_server/policies/
api_server/target/
api_server/mcp/node_modules/
api_server/mcp/certs

athenz_dist/

keycloak_token_exchange_provider/target/
keycloak_data/

keys/

my_tools/

open_webui/

venv/
